@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* media query 1/3 pour les mobiles */
@media (max-width: 575.98px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  /* Le logo OhMyFood avec la flèche pour retourner vers la page index */
  header {
    padding: 5%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }
  header h1 {
    margin-left: 10%;
    color: #101010;
    font-family: Shrikhand, Courier, monospace, Arial;
    text-align: center;
    grid-column: 3;
  }
  header a {
    color: #5a5a5a;
    grid-column: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  /* Ce bloc va gérer la répartition entre la photo du restau et la carte des menus en dessous */
  main {
    width: 100%;
  }
  main > img {
    height: 215px;
    width: 100%;
    object-fit: cover;
  }

  /* Ce bloc arrive juste en-dessouns de la photo du restau et inclue la carte des menus */
  .menu {
    background-color: #f6f6f6;
    padding: 10% 5% 15% 5%;
    text-align: center;
    position: relative;
    margin-top: -30px;
    z-index: 2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .menu-nomRestau {
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* Ce bloc permet de gérer le changement d'icone en hover du coeur vide 
    vers le coeur rempli rose */
  }
  .menu-nomRestau h2 {
    font-family: Shrikhand, Courier, monospace, Arial;
    font-size: 1.4em;
  }
  .menu-nomRestau .lesCoeurs {
    margin-left: 4%;
    width: 5%;
    position: relative;
    align-self: baseline;
  }
  .menu-nomRestau .lesCoeurs .coeurVide {
    color: black;
    z-index: 1;
    opacity: 1;
    transition: opacity 500ms;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3em;
  }
  .menu-nomRestau .lesCoeurs .coeurPlein {
    color: plum;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms;
    font-size: 1.3em;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurPlein {
    z-index: 1;
    opacity: 1;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurVide {
    z-index: -1;
    opacity: 0;
  }

  .carte {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .carte .trait {
    width: 11%;
    height: 2px;
    background-color: #99e2d0;
    border: none;
  }
  .carte h3 {
    font-family: Roboto;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
  }
  .carte-cartouche {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
  .carte-bulle {
    position: relative;
    /* permet d'exploiter le z-index */
    z-index: 1;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #ffffff;
    height: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    box-shadow: 1px 4px 3px #e7e7e7;
  }
  .carte-bulle:hover .carte-bulle__titre {
    width: 60%;
  }
  .carte-bulle:hover .carte-bulle__prix {
    transform: translateX(-100%);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .carte-bulle:hover .carte-bulle__complement {
    width: 75%;
  }
  .carte-bulle:hover .carte-bulle__endRight {
    opacity: 1;
  }
  .carte-bulle:hover + .carte-bulle__ticked {
    opacity: 1;
    z-index: 1;
    transform: scale(1) translateX(-54px);
  }

  /* exemple d'utilisation de mixin */

  /* liste de timing de départs */
}
@media (max-width: 575.98px) and (max-width: 359px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-31px);
  }
}
@media (max-width: 575.98px) and (min-width: 359.01px) and (max-width: 374px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-35px);
  }
}
@media (max-width: 575.98px) and (min-width: 374.01px) and (max-width: 383px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-37px);
  }
}
@media (max-width: 575.98px) and (min-width: 383.01px) and (max-width: 389px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-38px);
  }
}
@media (max-width: 575.98px) and (min-width: 389.01px) and (max-width: 411px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-38px);
  }
}
@media (max-width: 575.98px) and (min-width: 411.01px) and (max-width: 435px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-40px);
  }
}
@media (max-width: 575.98px) and (min-width: 435.01px) and (max-width: 450px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-42px);
  }
}
@media (max-width: 575.98px) and (min-width: 450.01px) and (max-width: 475px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-44px);
  }
}
@media (max-width: 575.98px) and (min-width: 475.01px) and (max-width: 500px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-46px);
  }
}
@media (max-width: 575.98px) and (min-width: 500.01px) and (max-width: 525px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-48px);
  }
}
@media (max-width: 575.98px) and (min-width: 525.01px) and (max-width: 550px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-50px);
  }
}
@media (max-width: 575.98px) and (min-width: 550.01px) and (max-width: 560px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-52px);
  }
}
@media (max-width: 575.98px) {
  .carte-bulle:hover + .carte-bulle__ticked .ticked-rotating {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@media (max-width: 575.98px) {
  .carte-bulle .carte-bulle__titre {
    font-weight: bold;
    grid-column: 1/4;
    grid-row: 2;
    text-align: left;
    font-size: 0.9em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: width 500ms;
    /* TRANSITION */
  }
}
@media (max-width: 575.98px) {
  .carte-bulle__prix {
    grid-column: 3;
    grid-row: 1/6;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #ffffff;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 13px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 500ms, border-bottom-right-radius 400ms, border-top-right-radius 400ms;
  }
}
@media (max-width: 575.98px) {
  .carte-bulle__ticked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    margin-top: 5%;
    height: 4em;
    width: 1%;
    transform: scale(0.1);
    transform-origin: right;
    transition: opacity 100ms, transform 500ms;
    /* TRANSITION */
  }
  .carte-bulle__ticked .ticked-rotating {
    background-color: #99e2d0;
    color: white;
    opacity: 0;
    transition: opacity 500ms, transform 500ms 200ms;
    /* TRANSITION */
  }
}
@media (max-width: 575.98px) {
  .carte-bulle__complement {
    grid-row: 4;
    grid-column: 1/3;
    text-align: left;
    font-size: 0.8em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    transition: width 500ms;
    /* TRANSITION */
    border-bottom-left-radius: 15px;
  }
}
@media (max-width: 575.98px) {
  .carte-bulle__endRight {
    grid-column: 3;
    grid-row: 1/6;
    background-color: #99e2d0;
    opacity: 0;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: opacity 100ms;
  }
}
@media (max-width: 575.98px) {
  button {
    border: none;
    font: inherit;
    background: linear-gradient(180deg, #eb72da, #ad5edb);
    width: 60%;
    height: 50px;
    padding: 3%;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 4px 4px #cacaca;
  }
  button:hover {
    box-shadow: 8px 8px 8px #cacaca;
    filter: brightness(1.1);
  }
}
@media (max-width: 575.98px) {
  @keyframes plat {
    0% {
      transform: translateY(-9999px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@media (max-width: 575.98px) {
  .plat1 {
    animation: plat 250ms 0ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat2 {
    animation: plat 250ms 250ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat3 {
    animation: plat 250ms 500ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat4 {
    animation: plat 250ms 750ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat5 {
    animation: plat 250ms 1000ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat6 {
    animation: plat 250ms 1250ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat7 {
    animation: plat 250ms 1500ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat8 {
    animation: plat 250ms 1750ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat9 {
    animation: plat 250ms 2000ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  .plat10 {
    animation: plat 250ms 2250ms;
    animation-fill-mode: backwards;
  }
}
@media (max-width: 575.98px) {
  footer {
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    width: 100%;
    color: white;
    background-color: #353535;
  }
  footer h2 {
    font-size: 1em;
    margin-bottom: 5%;
    font-family: Shrikhand, Courier, monospace, Arial;
  }
  footer p {
    margin-bottom: 2%;
  }
  footer p a {
    text-decoration: none;
    color: #ffffff;
  }
  footer p a:hover {
    color: #c27bb4;
  }
  footer i {
    margin-right: 2%;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  header {
    padding: 2% 5% 2% 5%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }
  header h1 {
    margin-left: 10%;
    color: #101010;
    font-family: Shrikhand, Courier, monospace, Arial;
    text-align: center;
    grid-column: 3;
  }
  header a {
    color: #5a5a5a;
    grid-column: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  main {
    width: 100%;
  }
  main > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  .menu {
    background-color: #f6f6f6;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -30px;
    z-index: 2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .menu-nomRestau {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    /* Ce bloc permet de gérer le changement d'icone en hover du coeur vide 
    vers le coeur rempli rose */
  }
  .menu-nomRestau h2 {
    font-family: Shrikhand, Courier, monospace, Arial;
    font-size: 1.4em;
  }
  .menu-nomRestau .lesCoeurs {
    margin-left: 4%;
    width: 5%;
    position: relative;
    align-self: baseline;
  }
  .menu-nomRestau .lesCoeurs .coeurVide {
    color: black;
    z-index: 1;
    opacity: 1;
    transition: opacity 500ms;
    position: absolute;
    left: 0;
    top: 0;
  }
  .menu-nomRestau .lesCoeurs .coeurPlein {
    color: plum;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurPlein {
    z-index: 1;
    opacity: 1;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurVide {
    z-index: -1;
    opacity: 0;
  }
  .menu-cadre {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 90%;
  }

  .carte {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .carte .trait {
    width: 5%;
    height: 2px;
    background-color: #99e2d0;
    border: none;
  }
  .carte h3 {
    font-family: Roboto;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
  }
  .carte-cadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .carte-cartouche {
    display: flex;
    width: 45%;
    flex-wrap: nowrap;
  }
  .carte-bulle {
    position: relative;
    /* permet d'exploiter le z-index */
    z-index: 1;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #ffffff;
    height: 4em;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    width: 100%;
    box-shadow: 1px 4px 3px #e7e7e7;
  }
  .carte-bulle:hover .carte-bulle__titre {
    width: 60%;
  }
  .carte-bulle:hover .carte-bulle__prix {
    transform: translateX(-100%);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .carte-bulle:hover .carte-bulle__complement {
    width: 75%;
  }
  .carte-bulle:hover .carte-bulle__endRight {
    opacity: 1;
  }
  .carte-bulle:hover + .carte-bulle__ticked {
    opacity: 1;
    z-index: 1;
    transform: scale(1) translateX(-38px);
  }

  /* liste de timing de départs */
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (max-width: 600px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-22px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 600.01px) and (max-width: 650px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-24px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 650.01px) and (max-width: 700px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-26px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 700.01px) and (max-width: 750px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-28px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 750.01px) and (max-width: 800px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-30px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 800.01px) and (max-width: 850px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-32px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 850.01px) and (max-width: 900px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-34px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) and (min-width: 900.01px) and (max-width: 950px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: scale(1) translateX(-36px);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle:hover + .carte-bulle__ticked .ticked-rotating {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle .carte-bulle__titre {
    font-weight: bold;
    grid-column: 1/4;
    grid-row: 2;
    text-align: left;
    font-size: 0.9em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: width 500ms;
    /* TRANSITION */
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle__prix {
    grid-column: 3;
    grid-row: 1/6;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #ffffff;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 13px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 500ms, border-bottom-right-radius 400ms, border-top-right-radius 400ms;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle__ticked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    margin-top: 5%;
    height: 4em;
    width: 1%;
    transform: scale(0.1);
    transform-origin: right;
    transition: opacity 100ms, transform 500ms;
    /* TRANSITION */
  }
  .carte-bulle__ticked .ticked-rotating {
    background-color: #99e2d0;
    color: white;
    opacity: 0;
    transition: opacity 500ms, transform 500ms 200ms;
    /* TRANSITION */
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle__complement {
    grid-row: 4;
    grid-column: 1/3;
    text-align: left;
    font-size: 0.8em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    transition: width 500ms;
    /* TRANSITION */
    border-bottom-left-radius: 15px;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .carte-bulle__endRight {
    grid-column: 3;
    grid-row: 1/6;
    background-color: #99e2d0;
    opacity: 0;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: opacity 100ms;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  button {
    border: none;
    font: inherit;
    padding: 3%;
    color: white;
    background: linear-gradient(180deg, #eb72da, #ad5edb);
    border-radius: 50px;
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 4px #cacaca;
  }
  button:hover {
    box-shadow: 8px 8px 8px #cacaca;
    filter: brightness(1.1);
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  @keyframes plat {
    0% {
      transform: translateY(-9999px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat1 {
    animation: plat 250ms 0ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat2 {
    animation: plat 250ms 250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat3 {
    animation: plat 250ms 500ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat4 {
    animation: plat 250ms 750ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat5 {
    animation: plat 250ms 1000ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat6 {
    animation: plat 250ms 1250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat7 {
    animation: plat 250ms 1500ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat8 {
    animation: plat 250ms 1750ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat9 {
    animation: plat 250ms 2000ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .plat10 {
    animation: plat 250ms 2250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 575.99px) and (max-width: 991.98px) {
  footer {
    padding-top: 3%;
    padding-left: 5%;
    padding-bottom: 3%;
    width: 100%;
    color: white;
    background-color: #353535;
  }
  footer h2 {
    font-size: 1em;
    margin-bottom: 3%;
    font-family: Shrikhand, Courier, monospace, Arial;
  }
  footer p {
    margin-bottom: 2%;
  }
  footer p a {
    text-decoration: none;
    color: #ffffff;
  }
  footer p a:hover {
    color: #c27bb4;
  }
  footer i {
    margin-right: 2%;
  }
}
@media (min-width: 991.98px) {
  body {
    font-family: Roboto, Courier, monospace, Arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    margin: auto;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  header {
    padding: 2%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }
  header h1 {
    margin-left: 10%;
    color: #101010;
    font-family: Shrikhand, Courier, monospace, Arial;
    text-align: center;
    grid-column: 3;
  }
  header a {
    color: #5a5a5a;
    grid-column: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  main {
    width: 100%;
    background-color: #f6f6f6;
  }
  main > img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .menu {
    background-color: #f6f6f6;
    padding: 3% 5% 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -30px;
    z-index: 2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 1500px;
    margin: auto;
  }
  .menu-nomRestau {
    width: 100%;
    display: flex;
  }
  .menu-nomRestau h2 {
    font-family: Shrikhand, Courier, monospace, Arial;
    font-size: 1.4em;
  }
  .menu-nomRestau .lesCoeurs {
    margin-left: 4%;
    width: 5%;
    position: relative;
  }
  .menu-nomRestau .lesCoeurs .coeurVide {
    color: black;
    z-index: 1;
    opacity: 1;
    transition: opacity 500ms;
    position: absolute;
    left: 0;
    top: 0;
  }
  .menu-nomRestau .lesCoeurs .coeurPlein {
    color: plum;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurPlein {
    z-index: 1;
    opacity: 1;
  }
  .menu-nomRestau .lesCoeurs:hover .coeurVide {
    z-index: -1;
    opacity: 0;
  }
  .menu-cadre {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
  }

  .carte {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .carte .trait {
    width: 4%;
    height: 2px;
    background-color: #99e2d0;
    border: none;
  }
  .carte h3 {
    font-family: Roboto;
    text-align: left;
    font-size: 1em;
    font-weight: normal;
  }
  .carte-cadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
  }
  .carte-cartouche {
    display: flex;
    width: 30%;
    flex-wrap: nowrap;
  }
  .carte-bulle {
    position: relative;
    /* permet d'exploiter le z-index */
    z-index: 1;
    margin-top: 5%;
    border-radius: 15px;
    background-color: #ffffff;
    height: 4em;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    width: 100%;
    box-shadow: 1px 4px 3px #e7e7e7;
  }
  .carte-bulle:hover .carte-bulle__titre {
    width: 60%;
  }
  .carte-bulle:hover .carte-bulle__prix {
    transform: translateX(-100%);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .carte-bulle:hover .carte-bulle__complement {
    width: 75%;
  }
  .carte-bulle:hover .carte-bulle__endRight {
    opacity: 1;
  }
  .carte-bulle:hover + .carte-bulle__ticked {
    opacity: 1;
    z-index: 1;
    transform: translateX(-36px);
  }

  /* liste de timing de départs */
}
@media (min-width: 991.98px) and (min-width: 991.98px) and (max-width: 1000px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-36px);
  }
}
@media (min-width: 991.98px) and (min-width: 1000.01px) and (max-width: 1172px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-38px);
  }
}
@media (min-width: 991.98px) and (min-width: 1172.01px) and (max-width: 1285px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-48px);
  }
}
@media (min-width: 991.98px) and (min-width: 1285.01px) and (max-width: 1500px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-53px);
    /* CHECKED */
  }
}
@media (min-width: 991.98px) and (min-width: 1500.01px) and (max-width: 1750px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-53px);
  }
}
@media (min-width: 991.98px) and (min-width: 1750.01px) and (max-width: 2000px) {
  .carte-bulle:hover + .carte-bulle__ticked {
    transform: translateX(-54px);
  }
}
@media (min-width: 991.98px) {
  .carte-bulle:hover + .carte-bulle__ticked .ticked-rotating {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@media (min-width: 991.98px) {
  .carte-bulle .carte-bulle__titre {
    font-weight: bold;
    grid-column: 1/4;
    grid-row: 2;
    text-align: left;
    font-size: 0.9em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: width 500ms;
    /* TRANSITION */
  }
}
@media (min-width: 991.98px) {
  .carte-bulle__prix {
    grid-column: 3;
    grid-row: 1/6;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #ffffff;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 13px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 500ms, border-bottom-right-radius 400ms, border-top-right-radius 400ms;
  }
}
@media (min-width: 991.98px) {
  .carte-bulle__ticked {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 0;
    margin-top: 5%;
    height: 4em;
    width: 10%;
    transform-origin: right;
    transition: opacity 100ms, transform 500ms;
    /* TRANSITION */
  }
  .carte-bulle__ticked .ticked-rotating {
    background-color: #99e2d0;
    color: white;
    opacity: 0;
    transition: opacity 500ms, transform 500ms 200ms;
    /* TRANSITION */
  }
}
@media (min-width: 991.98px) {
  .carte-bulle__complement {
    grid-row: 4;
    grid-column: 1/3;
    text-align: left;
    font-size: 0.8em;
    padding-left: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    transition: width 500ms;
    /* TRANSITION  */
    border-bottom-left-radius: 15px;
  }
}
@media (min-width: 991.98px) {
  .carte-bulle__endRight {
    grid-column: 3;
    grid-row: 1/6;
    background-color: #99e2d0;
    opacity: 0;
    z-index: -1;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transition: opacity 100ms;
  }
}
@media (min-width: 991.98px) {
  button {
    border: none;
    font: inherit;
    background: linear-gradient(180deg, #eb72da, #ad5edb);
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    color: white;
    border-radius: 50px;
    box-shadow: 2px 4px 4px #cacaca;
  }
  button:hover {
    box-shadow: 8px 8px 8px #cacaca;
    filter: brightness(1.05);
  }
}
@media (min-width: 991.98px) {
  @keyframes plat {
    0% {
      transform: translateY(-9999px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
@media (min-width: 991.98px) {
  .plat1 {
    animation: plat 250ms 0ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat2 {
    animation: plat 250ms 250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat3 {
    animation: plat 250ms 500ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat4 {
    animation: plat 250ms 750ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat5 {
    animation: plat 250ms 1000ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat6 {
    animation: plat 250ms 1250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat7 {
    animation: plat 250ms 1500ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat8 {
    animation: plat 250ms 1750ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat9 {
    animation: plat 250ms 2000ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  .plat10 {
    animation: plat 250ms 2250ms;
    animation-fill-mode: backwards;
  }
}
@media (min-width: 991.98px) {
  footer {
    padding: 2% 5% 3% 5%;
    width: 100%;
    color: white;
    background-color: #353535;
  }
  footer h2 {
    font-size: 1em;
    margin-bottom: 5%;
    font-family: Shrikhand, Courier, monospace, Arial;
  }
  footer p {
    margin-bottom: 2%;
  }
  footer p a {
    text-decoration: none;
    color: #ffffff;
  }
  footer p a:hover {
    color: #c27bb4;
  }
  footer i {
    margin-right: 2%;
  }
}
@media (min-width: 991.98px) and (min-width: 1000px) {
  footer {
    padding: 2% 5% 3% 5%;
    color: white;
    background-color: #353535;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer h2 {
    font-size: 1.5em;
    margin-bottom: 4%;
    font-family: Shrikhand, Courier, monospace, Arial;
    grid-row: 1;
    grid-column: 2/4;
    text-align: center;
  }
  footer p {
    margin-bottom: 1%;
  }
  footer p a {
    text-decoration: none;
    color: #ffffff;
  }
  footer p a:hover {
    color: #c27bb4;
  }
  footer i {
    margin-right: 2%;
  }
  footer .propose {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
  }
  footer .partenaire {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
  }
  footer .mentions {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
  }
  footer .contact {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
  }
}

/*# sourceMappingURL=lesMenus.css.map */
