@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 575.98px) {
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a{
        text-decoration: none;
    }

    $couleurPrimaire: #9356DC;
    $couleurSecondaire: #FF79DA;
    $couleurTertiaire: #99E2D0;


    @keyframes disparition{
        0%{
            opacity: 1;
        }
    
        100%{
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes apparition{
        0%{
            opacity: 0;
        }

        25%{
            opacity: 0.25;
        }

        50%{
            opacity: .5;
        }
    
        75%{
            opacity: .75;
        }
        100%{
            opacity: 1;
            z-index: 1;
        }
    }

    @keyframes barDeProgression{

        0%{
            transform: scaleX(0);
            opacity: 0;
        }

        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    
    }

    @keyframes titreOhMy {
        0%{
            transform: scaleX(0);
            opacity: 0;
        }
        
        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    }


    #launcher{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;

    animation: disparition 1000ms 9000ms;
    animation-fill-mode: forwards;
    }

    .titreLauncher{
        margin-bottom: 10%;
        margin-top: 10%;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
       
        &-un{
            color: $couleurPrimaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms;
            animation-fill-mode: backwards;
        }

        &-deux{
            color: $couleurSecondaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 1500ms;
            animation-fill-mode: backwards;
        }

        &-trois{    
            color: $couleurTertiaire;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 3000ms;
            animation-fill-mode: backwards;
        }
    }

    .progressBar{
        height: 14px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }


    .progressBar-primaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurPrimaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-secondaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurSecondaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-tertiaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurTertiaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 3000ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-percentage{
        font-size: 1em;
        font-weight: bold;
        margin-left: 2%;
    
        animation: barDeProgression 4500ms 4500ms;
        animation-fill-mode: backwards;
        
        color: darkgray;
    }

    .loading{
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }

    .loading::after{
        content: "";
        width: 50px;
        height: 50px;

        border: 10px solid;
        border-top-color: $couleurPrimaire;
        border-right-color: $couleurSecondaire;
        border-bottom-color: $couleurTertiaire;
        border-left-color: $couleurPrimaire;
        
        border-radius: 50%;
        animation: chargement 8s ease;
    }

    @keyframes chargement{
        to{
            transform: rotate(5turn);
        }
    }
    
    
    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        animation: apparition 2000ms 9000ms;
        animation-fill-mode: backwards;
    }
    
      button, input       /* MODIF MODIF MODIF MODIF         effacer input  */
    {
        background: none;
        border: none;
        font: inherit;	
    }
         
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        box-shadow: 0px 3px 5px #d5d5d5;
        z-index: 1;

        #logo{
            width: 50%;
        }
    }

    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    @mixin boutonRose{
    
        padding: 3%;
        color: white;
        border-radius: 50px;
        box-shadow: 2px 4px 4px #cacaca;
    }

    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 10%;
    
        &-lequel{
            background-color: #eaeaea;
            display: flex;
            justify-content: center;
            padding-top: 3%;
            padding-bottom: 3%;
    
            &__ville{ 
              
                height: 100%;

                i{
                    margin-right: 1em;
                    height: 100%;
                }
            }
        }
    
        &-slogan{
            padding: 10% 15% 5% 15%;
            font-size: 1.5em;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 12% 15%;
            background: linear-gradient(135deg, $couleurSecondaire, $couleurPrimaire);
            @include boutonRose;

            &:hover{
                box-shadow: 8px 8px 8px #cacaca;
            }
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 10%;
        width: 90%;
        align-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
       
        
        h1{
            font-family: Roboto;
            margin-bottom: 7%;
            align-self: flex-start;
        }
    
        &-lesBulles{

            width: 85%;

            &__bulle{
    
                display: flex;
                justify-content: flex-start;
                align-items: center;
                       
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;

                box-shadow: 3px 4px 2px #e6e6e6;

                text-decoration: none;
                
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
        
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                    color: #1f1d1f;
                }
        
                i{
                    margin-right: 10%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }

        }
        
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
            align-self: flex-start;
        }
        
        &-lesEtiq{

            width: 90%;
            display: flex;
            flex-direction: column;
            justify-items: center;


            &__etiquette{
        
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;

                .blocImage{
                    position: relative;
                }
                    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 170px;
                    width: 100%;
                    object-fit: cover;
                }

                .nouveau{
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    background-color: #99e2d0;
                    color: #008766;
                    height: 15%;
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        
                &--descrip{
        
                    display: grid;

                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                
                    height: 65px;

                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 2;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 0.9em;
                        margin-bottom: 6px;
                        

                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 2;

                        
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 500ms;
                        }
                
                        
                        &:hover{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                    
                        grid-column: 1;
                        grid-row: 3;
                        padding-left: 5%;

                        font-size: 0.9em;
                       
                    }
                }
            }
        }
        
    
    }
    
    footer{
    
        padding: 10%;
        color: white;
        background-color:#353535;
        overflow: hidden;
    
        h1{
            font-size: 1em;
            margin-bottom: 5%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            margin-bottom: 5%;

            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{

                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}

/*Medium devices (tablets, less than 992px)*/

@media (min-width: 575.99px) and (max-width: 991.98px){    

    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a{
        text-decoration: none;
    }  
    
    $couleurPrimaire: #9356DC;
    $couleurSecondaire: #FF79DA;
    $couleurTertiaire: #99E2D0;


    @keyframes disparition{
        0%{
            opacity: 1;
        }
    
        100%{
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes apparition{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }

        50%{
            opacity: .5;
        }
    
        75%{
            opacity: .75;
        }
        100%{
            opacity: 1;
            z-index: 1;
        }
    }

    @keyframes barDeProgression{

        0%{
            transform: scaleX(0);
            opacity: 0;
        }

        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    
    }

    @keyframes titreOhMy {
        0%{
            transform: scaleX(0);
            opacity: 0;
        }
        
        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    }


    #launcher{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;

    animation: disparition 1000ms 9000ms;
    animation-fill-mode: forwards;
    }

    .titreLauncher{
        margin-bottom: 10%;
        margin-top: 10%;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
       
        &-un{
            color: $couleurPrimaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms;
            animation-fill-mode: backwards;
        }

        &-deux{
            color: $couleurSecondaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 1500ms;
            animation-fill-mode: backwards;
        }

        &-trois{    
            color: $couleurTertiaire;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 3000ms;
            animation-fill-mode: backwards;
        }
    }

    .progressBar{
        height: 14px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }


    .progressBar-primaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurPrimaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-secondaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurSecondaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-tertiaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurTertiaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 3000ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-percentage{
        font-size: 1em;
        font-weight: bold;
        margin-left: 2%;
       
        animation: barDeProgression 4500ms 4500ms;
        animation-fill-mode: backwards;

        color: darkgray;
    }
    
    .loading{
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }

    .loading::after{
        content: "";
        width: 50px;
        height: 50px;

        border: 10px solid;
        border-top-color: $couleurPrimaire;
        border-right-color: $couleurSecondaire;
        border-bottom-color: $couleurTertiaire;
        border-left-color: $couleurPrimaire;
        
        border-radius: 50%;
        animation: chargement 8s ease;
    }

    @keyframes chargement{
        to{
            transform: rotate(5turn);
        }
    }
    
    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        animation: apparition 2000ms 9000ms;
        animation-fill-mode: backwards;
    }
    
      button, input
    {
        background: none;
        border: none;
        font: inherit;	
    }
        
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;

        #logo{
            width: 50%;
        }
    }

    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 5%;
    
        &-lequel{
            background-color: #eaeaea;
            
            box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            display: flex;
            justify-content: center;
            padding-top: 2%;
            padding-bottom: 2%;
    
            &__ville{ 
                /* display: flex;
                align-items: center; */
                height: 100%;

                i{
                    margin-right: 1em;
                    height: 100%;
                }

            }
        }
    
        &-slogan{
            padding: 2% 5% 2% 5%;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 5% 15%;
            padding: 3%;
            color: white;
            background: linear-gradient(135deg, #eb72da, #ad5edb);
            border-radius: 50px;
            box-shadow: 2px 4px 4px #cacaca;

            &:hover{
                box-shadow: 8px 8px 8px #cacaca;
            }
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 5%;
        width: 90%;
        align-self: center;
        
        h1{
            font-family: Roboto;
            margin-bottom: 7%;
            text-align: center;
        }
    
        &-lesBulles{

            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            &__bulle{
    
                display: flex;
                justify-content: flex-start;
                align-items: center;

                margin-right: 7%;
                
                width: 35%;
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;

                box-shadow: 3px 4px 2px #e6e6e6;

                text-decoration: none;
                
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                    color: #1f1d1f;
                }
        
                i{
                    margin-right: 7%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }
        }   
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        
        &-lesEtiq{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            

            &__etiquette{
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;
                margin-right: 2%;
                margin-left: 2%;
                width: 40%;

                .blocImage{
                    position: relative;
                }
    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }

                .nouveau{
                    position: absolute;
                    right: 15px;
                    top: 4px;
                    background-color: #99e2d0;
                    color: #008766;
                    height: 15%;
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        
                &--descrip{
        
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr;
                
                    height: 50px;

                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 1;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1em;
                        
                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 1;

                        font-size: 1em;
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 3500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 3500ms;
                        }
                
                        
                        &:hover{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                    
                        grid-column: 1;
                        grid-row: 2;
                        padding-left: 5%;

                        font-size: 1em;
                       
                    }
                }
            }
        }
        
    
    }
    
    footer{
    
        padding: 7% 5% 7% 5%;
        color: white;
        background-color:#353535;
        overflow: hidden;

        h1{
            font-size: 2em;
            margin-bottom: 1%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            margin-bottom: 1%;

            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}

@media (min-width: 991.99px) and (max-width: 1880px){

    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
    }

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    a{
        text-decoration: none;
    }

    $couleurPrimaire: #9356DC;
    $couleurSecondaire: #FF79DA;
    $couleurTertiaire: #99E2D0;


    @keyframes disparition{
        0%{
            opacity: 1;
        }
    
        100%{
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes apparition{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }

        50%{
            opacity: .5;
        }
    
        75%{
            opacity: .75;
        }
        100%{
            opacity: 1;
            z-index: 1;
        }
    }

    @keyframes barDeProgression{

        0%{
            transform: scaleX(0);
            opacity: 0;
        }

        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    
    }

    @keyframes titreOhMy {
        0%{
            transform: scaleX(0);
            opacity: 0;
        }
        
        100%{
            transform: scaleX(1);
            opacity: 1;
        }
    }


    #launcher{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 0;
    top: 0;

    animation: disparition 1000ms 9000ms;
    animation-fill-mode: forwards;
    }

    .titreLauncher{
        margin-bottom: 10%;
        margin-top: 10%;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
       
        &-un{
            color: $couleurPrimaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms;
            animation-fill-mode: backwards;
        }

        &-deux{
            color: $couleurSecondaire;
            margin-right: 2%;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 1500ms;
            animation-fill-mode: backwards;
        }

        &-trois{    
            color: $couleurTertiaire;
            transform-origin: 0% 50%;
            animation: titreOhMy 1500ms 3000ms;
            animation-fill-mode: backwards;
        }
    }

    .progressBar{
        height: 14px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }


    .progressBar-primaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurPrimaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-secondaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurSecondaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 1500ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-tertiaire{
        height: 14px;
        width: 30%;
    
        background-color: $couleurTertiaire;
        transform-origin: 0% 50%;
    
        animation: barDeProgression 1500ms 3000ms;
        animation-fill-mode: backwards;
    }
    
    .progressBar-percentage{
        font-size: 1em;
        font-weight: bold;
        margin-left: 2%;
        animation: barDeProgression 4500ms 4500ms;
        animation-fill-mode: backwards;

        color: darkgray;
    }
    
    .loading{
        margin-top: 10%;
        display: flex;
        justify-content: center;
    }

    .loading::after{
        content: "";
        width: 50px;
        height: 50px;

        border: 10px solid;
        border-top-color: $couleurPrimaire;
        border-right-color: $couleurSecondaire;
        border-bottom-color: $couleurTertiaire;
        border-left-color: $couleurPrimaire;
        
        border-radius: 50%;
        animation: chargement 8s ease;
    }

    @keyframes chargement{
        to{
            transform: rotate(5turn);
        }
    }

    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

        animation: apparition 2000ms 9000ms;
        animation-fill-mode: backwards;
    }
    
      button, input
    {
        background: none;
        border: none;
        font: inherit;	
    }
    
    /*
    h1, h2, h3, h4
    {
        font-family: Shrikhand, Courier, monospace, Arial;
    }
    */
        
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;

        #logo{
            width: 50%;
        }
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    @mixin boutonRose{
        padding: 2%;
        color: white;
        border-radius: 50px;
        box-shadow: 2px 4px 4px #cacaca;
    
        &:hover{
            box-shadow: 8px 8px 8px #cacaca;
        }
    }

    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 5%;
    
        &-lequel{
            background-color: #eaeaea;
            
            box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            display: flex;
            justify-content: center;
            padding-top: 2%;
            padding-bottom: 2%;
    
            &__ville{ 
                /* display: flex;
                align-items: center; */
                height: 100%;
                font-size: 1.2em;

                i{
                    margin-right: 1em;
                    height: 100%;
                }
            }
        }
    
        &-slogan{
            padding: 5% 5% 5% 5%;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 5% 15%;
            background: linear-gradient(135deg, #eb72da, #ad5edb);
            @include boutonRose;
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 2%;
        width: 90%;
        align-self: center;
       
        
        h1{
            font-family: Roboto;
            margin-bottom: 5%;
        }
    
        &-lesBulles{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            &__bulle{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-right: 7%;
                
                width: 25%;
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;
                box-shadow: 3px 4px 2px #e6e6e6;
                text-decoration: none;
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
        
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                    color: #1f1d1f;
                }
        
                i{
                    margin-right: 10%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }
        }
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        
        padding-top: 3%;
        padding-bottom: 3%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            align-self: flex-start;
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        
        &-lesEtiq{

            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__etiquette{
        
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;
                margin-right: 2%;
                margin-left: 2%;
                width: 40%;

                .blocImage{
                    position: relative;
                }
    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }

                .nouveau{
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    background-color: #99e2d0;
                    color: #008766;
                    height: 15%;
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        
                &--descrip{
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    padding-top: 1%;
                    height: 60px;
                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 1;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1em;
                        
                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 1;
                        font-size: 1em;
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 3500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 3500ms;
                        }
                
                        
                        &:hover{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                        grid-column: 1;
                        grid-row: 2;
                        padding-left: 5%;
                        font-size: 1em;
                    }
                }
            }
        }
    }
    
    footer{
    
        padding: 2% 5% 5% 5%;
        color: white;
        background-color:#353535;
        overflow: hidden;

        h1{
            font-size: 1.5em;
            margin-bottom: 1%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            
            margin-bottom: 1%;
            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}