@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@media (max-width: 575.98px) {
    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
      button, input       /* MODIF MODIF MODIF MODIF         effacer input  */
    {
        background: none;
        border: none;
        font: inherit;	
    }
    
    /*
    h1, h2, h3, h4
    {
        font-family: Shrikhand, Courier, monospace, Arial;
    }
    */
        
    
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;

        #logo{
            width: 50%;
        }

    }

    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 10%;
    
        &-lequel{
            background-color: #eaeaea;
            
            box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            display: flex;
            justify-content: center;
    
            &__ville{ 
                /* display: flex;
                align-items: center; */
                height: 100%;

                i{
                    margin-right: 1em;
                    height: 100%;
                }

            }
        }
    
        &-slogan{
    
            padding: 1% 5% 1% 5%;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 15% 15%;
            padding: 3%;
            color: white;
            background: linear-gradient(135deg, #eb72da, #ad5edb);
            border-radius: 50px;
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 10%;
        width: 90%;
        align-self: center;
       
        
        h1{
            font-family: Roboto;
            margin-bottom: 7%;
        }
    
        &-lesBulles{

            width: 100%;

            &__bulle{
    
                display: flex;
                justify-content: flex-start;
                align-items: center;
                       
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;

                box-shadow: 3px 4px 2px #e6e6e6;

                text-decoration: none;
                
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
        
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                }
        
                i{
                    margin-right: 3%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }

        }
        
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
            align-self: flex-start;
        }
        
        &-lesEtiq{

            width: 90%;
            display: flex;
            flex-direction: column;
            justify-items: center;


            &__etiquette{
        
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;

                
                    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 170px;
                    width: 100%;
                    object-fit: cover;
                }
        
                &--descrip{
        
                    display: grid;

                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr;
                
                    height: 25%;

                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 1;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 0.9em;
                        

                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 1;

                        
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 3500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 3500ms;
                        }
                
                        
                        &:active{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                    
                        grid-column: 1;
                        grid-row: 2;
                        padding-left: 5%;

                        font-size: 0.9em;
                       
                    }
                }
            }
        }
        
    
    }
    
    footer{
    
        padding: 10%;
        color: white;
        background-color:#353535;
        overflow: hidden;
    
        h1{
            font-size: 1em;
            margin-bottom: 5%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            margin-bottom: 5%;

            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{

                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}

/*Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) {   */

@media (min-width: 575.99px) and (max-width: 991.98px){    

    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
    }
    
    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
      button, input
    {
        background: none;
        border: none;
        font: inherit;	
    }
    
    /*
    h1, h2, h3, h4
    {
        font-family: Shrikhand, Courier, monospace, Arial;
    }
    */
        
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;

        #logo{
            width: 50%;
        }
    }

    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    
    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 10%;
    
        &-lequel{
            background-color: #eaeaea;
            
            box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            display: flex;
            justify-content: center;
    
            &__ville{ 
                /* display: flex;
                align-items: center; */
                height: 100%;

                i{
                    margin-right: 1em;
                    height: 100%;
                }

            }
        }
    
        &-slogan{
    
            padding: 1% 5% 1% 5%;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 15% 15%;
            padding: 3%;
            color: white;
            background: linear-gradient(135deg, #eb72da, #ad5edb);
            border-radius: 50px;
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 10%;
        width: 90%;
        align-self: center;
       
        
        h1{
            font-family: Roboto;
            margin-bottom: 7%;
            text-align: center;
        }
    
        &-lesBulles{

            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            &__bulle{
    
                display: flex;
                justify-content: flex-start;
                align-items: center;

                margin-right: 7%;
                
                width: 35%;
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;

                box-shadow: 3px 4px 2px #e6e6e6;

                text-decoration: none;
                
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
        
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                }
        
                i{
                    margin-right: 3%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }
        }   
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        
        &-lesEtiq{

            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            

            &__etiquette{
        
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;
                margin-right: 2%;
                margin-left: 2%;
                width: 40%;
    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }
        
                &--descrip{
        
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr;
                
                    height: 40%;

                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 1;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1em;
                        
                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 1;

                        font-size: 1em;
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 3500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 3500ms;
                        }
                
                        
                        &:active{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                    
                        grid-column: 1;
                        grid-row: 2;
                        padding-left: 5%;

                        font-size: 1em;
                       
                    }
                }
            }
        }
        
    
    }
    
    footer{
    
        padding: 10%;
        color: white;
        background-color:#353535;
        overflow: hidden;

        h1{
            font-size: 2em;
            margin-bottom: 5%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            margin-bottom: 5%;

            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}

@media (min-width: 991.99px) and (max-width: 1880px){

    body{
        font-family: Roboto, Courier, monospace, Arial;
        box-sizing: border-box;
    }
    
    #mainContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
      button, input
    {
        background: none;
        border: none;
        font: inherit;	
    }
    
    /*
    h1, h2, h3, h4
    {
        font-family: Shrikhand, Courier, monospace, Arial;
    }
    */
        
    header{
        text-align: center;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;

        #logo{
            width: 50%;
        }
    }

    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    .lieu{
    
        text-align: center;
        background-color: #f6f6f6;
        width: 100%;
        margin-bottom: 10%;
    
        &-lequel{
            background-color: #eaeaea;
            
            box-shadow: rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            display: flex;
            justify-content: center;
    
            &__ville{ 
                /* display: flex;
                align-items: center; */
                height: 100%;

                i{
                    margin-right: 1em;
                    height: 100%;
                }

            }
        }
    
        &-slogan{
    
            padding: 1% 5% 1% 5%;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: Roboto;
        }
    
        &-message{
            padding: 1% 5% 1% 5%;
        }
    
        &-bouton{
            margin: 5% 15% 15% 15%;
            padding: 3%;
            color: white;
            background: linear-gradient(135deg, #eb72da, #ad5edb);
            border-radius: 50px;
        }
    }
    
    .fonction{
    
        background-color: #ffffff;
        width: 100%;
        margin-bottom: 10%;
        width: 90%;
        align-self: center;
       
        
        h1{
            font-family: Roboto;
            margin-bottom: 7%;
        }
    
        &-lesBulles{

            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            &__bulle{
    
                display: flex;
                justify-content: flex-start;
                align-items: center;

                margin-right: 7%;
                
                width: 35%;
                border-radius: 20px;
                background-color: #f6f6f6;
                margin-bottom: 5%;
                height: 60px;

                box-shadow: 3px 4px 2px #e6e6e6;

                text-decoration: none;
                
        
                &--rond{
                    background-color: #9356dc;
                    height: 22px;
                    width: 22px;
                    border-radius: 50px;
                    margin-right: 2%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    position: relative;
                    right: 3%;
                }
        
                &--label{
        
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 85%;
                }
        
                i{
                    margin-right: 3%;
                    color: #7e7e7e;    
                }
        
                &:hover{
        
                    background-color: #f5edff;
        
                    i{
                        color: #9356dc;
                    }
                }
            }
        }
    }
    
    
    .restau{
        
        background-color: #f6f6f6;
        
        padding-top: 10%;
        padding-bottom: 10%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            align-self: flex-start;
            font-family: Roboto;
            margin-bottom: 5%;
            margin-left: 5%;
        }
        
        &-lesEtiq{

            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            

            &__etiquette{
        
                border-radius: 20px;
                margin-bottom: 10%;
                overflow: hidden;
                margin-right: 2%;
                margin-left: 2%;
                width: 40%;
    
                img{
                    /* width à 100%
                    une hauteur en pixel
                    object-fit: cover   
                    peut-être des border-radius pour les coins haut gauche et haut droit */
                    height: 150px;
                    width: 100%;
                    object-fit: cover;
                }
        
                &--descrip{
        
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    grid-template-rows: 1fr 1fr;
                
                    height: 40%;

                    background-color: white;
                    color: black;
        
                    &--nom{

                        grid-row: 1;
                        grid-column: 1;
                        font-weight: bold;
                        padding-left: 5%;
                        display: flex;
                        align-items: flex-start;
                        font-size: 1em;
                        
                        a{
                            text-decoration: none;
                            color: black;
                        }
             
                    }    
        
                    &--coeur{
                       
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        grid-column: 2;
                        grid-row: 1;

                        font-size: 1em;
                      
                        .coeurVide{

                            color: black;
                            z-index: 1;
                            opacity: 1;
                            transition: opacity 3500ms;
                
                        }
                
                        .coeurPlein{
                            color: plum;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 3500ms;
                        }
                
                        
                        &:active{
                
                            .coeurPlein{
                                    z-index: 1;
                                    opacity: 1;
                            }
                
                            .coeurVide{
                                z-index: -1;
                                opacity: 0;
                            }
                        }
                        
                    }
        
                    &--quartier{
                    
                        grid-column: 1;
                        grid-row: 2;
                        padding-left: 5%;
                        font-size: 1em;
                       
                    }
                }
            }
        }
    }
    
    footer{
    
        padding: 2%;
        color: white;
        background-color:#353535;
        overflow: hidden;

        h1{
            font-size: 1.5em;
            margin-bottom: 5%;
            font-family: Shrikhand, Courier, monospace, Arial;
        }
    
        p{
            
            a{
                text-decoration: none;
                color: #ffffff;

                &:hover{
                    color: #c27bb4;
                }
            }
        }
    
        i{
            margin-right: 2%;
        }
    }
}